version: '3.9'
services:
  redis:
    image: 'redis:7.2.1-alpine'
    container_name: 'redis-joinflex'
    ports:
      - '6379:6379'
    # 데이터 영속성을 위한 볼륨 추가 (컨테이너가 꺼져도 데이터가 보존됨)
#    volumes:
#      - redis_data:/data
#    # Redis가 백그라운드에서 데이터를 저장하도록 설정
#    command: redis-server --appendonly yes
#
#volumes:
#  redis_data: