version: '3.9'

services:
  # Redis 서비스 설정
  redis:
    image: 'redis:7.2.1-alpine'
    container_name: 'redis-joinflex'
    ports:
      - '6379:6379'
#    volumes:
#      - redis_data:/data
    # 데이터 영속성을 위해 AOF 모드 활성화
    command: redis-server --appendonly yes
    networks:
      - joinflex-network

  # MySQL 서비스 설정
  mysql:
    image: 'mysql:8.0'
    container_name: 'mysql-joinflex'
    environment:
      MYSQL_ROOT_PASSWORD: 'password'
      MYSQL_DATABASE: 'joinflex'
#      MYSQL_USER: 'user'
#      MYSQL_PASSWORD: 'password'
      TZ: 'Asia/Seoul'
    ports:
      - '3306:3306'
#    volumes:
#      - mysql_data:/var/lib/mysql
    # MySQL 초기 설정이나 성능 최적화가 필요할 때 사용
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    networks:
      - joinflex-network

# 데이터 영속성을 위한 볼륨 정의
#volumes:
#  redis_data:
#  mysql_data:

# 컨테이너 간 통신을 위한 네트워크 정의
networks:
  joinflex-network:
    driver: bridge